---
import saloonInside from '../images/mini-img/zdjSalonu2-min.jpg'
import exampleHaircut1 from '../images/mini-img/mp1.jpg'
import exampleHaircut2 from '../images/mini-img/mp2.jpg'
import exampleHaircut3 from '../images/mini-img/mp3.jpg'
import exampleHaircut4 from '../images/mini-img/mp4.jpg'
import saloonFront from '../images/mini-img/zdjsalonu.jpg'
---
<main class='flex flex-col bg-primary'>
    <img id="picture1" src={saloonInside} alt="Salon" class="h-1/2">
    <h2 class='absolute left-1/4 right-1/4 text-center top-1/3 lg:top-1/3 bg-primary m-auto p-12 opacity-80 text-6xl lg:text-8xl hidden md:block'>
        Twój Styl
    </h2>
    <div id='onas' class="flex flex-col md:flex-row">
        <div class="p-8 md:w-1/3">
            <h1 class="p-2 m-2 text-center border-b text-4xl">Kim jesteśmy?</h1>
            <p>Salon Piękności "Twój Styl" to miejsce w którym zaznasz chwili relaksu. 
                Długoletnie doświadczenie w branży fryzjerskiej gwarantuje profesjonalizm 
                oraz indywidualne podejście do każdego klienta.
            </p>
        </div>
        <div class="p-8 md:w-1/3">
            <h1 class="p-2 m-2 text-center border-b text-4xl">Co oferujemy?</h1>
            <p>Oferujemy usługi z zakresu strzyżeń 
                damskich i męskich, koloryzacji kreatywnych i zabiegów pielęgnacyjnych  W naszym salonie wykonujemy 
                również fryzury okolicznościowe! Korzystamy z kosmetyków do włosów KEUNE.
            </p>
        </div>
        <div class="p-8 md:w-1/3">
            <h1 class="p-2 m-2 text-center border-b text-4xl">To nie wszystko!</h1>
            <p>
                We fryzjerstwie liczy się nie tylko jakość pracy ale także kosmetyki, z których korzystamy. 
                W naszej ofercie znajduje się linia kosmetyków oparta o czysto roślinną terapię So Pure Natural 
                Balance. Jest to dobrze zbadana linia produktów.
            </p>
        </div>
    </div>
    <div id='examples'>
        <h1 class="text-center py-6 text-4xl"> Przykładowe efekty naszej pracy: </h1>
        <div class="flex flex-wrap justify-evenly">
            <div class="p-8 w-2/5 border-b">
                <a target ="_blank" href={exampleHaircut1} ><img src={exampleHaircut1} alt='Przykładowe zdjęcie' ></a>
            </div>
            <div class="p-8 w-2/5 border-b">
                <a target ="_blank" href={exampleHaircut2}><img src={exampleHaircut2} alt='Przykładowe zdjęcie'></a>
            </div>
            <div class="p-8 w-2/5">
                <a target ="_blank" href={exampleHaircut3}><img src={exampleHaircut3} alt='Przykładowe zdjęcie'></a>
            </div>
            <div class="p-8 w-2/5">
                <a target ="_blank" href={exampleHaircut4}><img src={exampleHaircut4} alt='Przykładowe zdjęcie'></a>
            </div>
        </div>
    </div>
    <div id='godziny' class="flex flex-col py-6">
        <h1 class='p-4 border-b m-auto text-center text-4xl'>Godziny otwarcia salonu:</h1>
        <p class="p-4 text-center">
            Pn: 8:30 - 17:00 <br />
            Wt: 8:30 - 17:00 <br />
            Sr: 8:30 - 17:00 <br />
            Czw: 8:30 - 17:00 <br />
            Pt: 8:30 - 17:00 <br />
            Sb: 8:30 - 14:00 <br />
            Godziny dostosowujemy również indywidualnie do potrzeb klienta!
        </p>
    </div>
    <div id='picture2' class="flex flex-col">
        <h2 class="text-5xl text-center py-6 px-24 border-t m-auto"> Nasz Salon </h2>
        <img src={saloonFront} alt="Salon" class="w-full h-full">
    </div>
</main>